.Canvas {
  border: 1px solid black;
  height: 100%;
  padding: 2em 0;
}

.canvas__indicator {
  position: absolute;
  bottom: 0%
}

.canvas__indicator * {
  display: block;
}

.canvas__indicator--start  {
  transform: translateX(-100%);
  text-align: right;
}

.canvas__indicator .text  {
  font-size: .75em;
}

.canvas__indicator--start .arrow {
  position: relative;
  right: -72%
}

