.Canvas {
  border: 1px solid black;
  padding: 0 1em;
    position: 'relative';
    width: 100%;
    
    margin-bottom: 1em;
}

.canvas__indicator {
  position: absolute;
  bottom: 0%
}

.canvas__indicator * {
  display: block;
}

.canvas__indicator--end  {
  text-align: right;
    right: 0%
}

.canvas__indicator .text  {
  font-size: .75em;
}

.canvas__indicator--end .arrow {
  position: relative;
  right: -72%
}

